.wrap {
  padding: 50px 100px 50px 0;
  font-size: 30px;
}

img {
  margin-right: 20px;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: -8px;
}

.total-reviews {
  font-size: 18px;
  padding: 10px 0;
}

.total-out-of {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
}
