.wrapper {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.column {
  background: #fff;
  height: 100vh;
  overflow: scroll;
}
.column-next {
  background: #000;
}

.main {
  padding-left: 50px;
}

/* .reviews {
} */

/* .review-form {
} */
